bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
# Ignore DesignTimeBuild folder
DesignTimeBuild/

# Ignore FileContentIndex folder
FileContentIndex/

# Ignore v17 folder (if it's a folder)
v17/

# Ignore ProjectEvaluation folder
ProjectEvaluation/
